/*

Add styles or override variables from the theme here.

*/

// Theme colors
$primary: #5801d1 !default;
$primary-light: lighten($primary, 75%) !default;
$secondary: #f5f5f5 !default;
$success: #01d158 !default;
$info: #ddccf5 !default;
$warning: #d15801 !default;
$danger: #d15801 !default;
$white: #fff !default;
$light: #eee5fa !default;

$dark: #403F4C !default;
$blue: rgb(61, 90, 254) !default;
$orange: #BA5A31 !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ccc !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

$code-color: darken($secondary, 20%) !default;

// UI element colors

$border-color: $gray-300 !default;
$td-sidebar-bg-color: rgba($primary, 0.1) !default;
$td-sidebar-border-color: $primary-light !default;

// Background colors for the sections on home page etc. It is a paint by number system, starting at 0, where the number is taken from the shortcode's ordinal
// if not provided by the user.
// These colors are all part of the theme palette, but the mix is fairly random to create variation. This can be overridden by the project if needed.
$td-box-colors: $dark, $primary, $secondary, $info, $primary-light, $gray-600, $success, $warning, $dark, $danger, $primary, $secondary, $primary-light, $info;

$link-color: $blue !default;
$link-decoration: none !default;
$link-hover-color: lighten($blue, 15%) !default;
$link-hover-decoration: underline !default;

// Fonts

$google_font_name: 'Google Sans' !default;
$google_font_family: "Google+Sans" !default;
$web-font-path: "https://fonts.googleapis.com/css?family=#{$google_font_family}";
// family=Google+Sans:400,500|Roboto:300|Roboto+Mono:300,500

// Font weights

$font-weight-normal: 300 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

$font-weight-body-text: $font-weight-normal !default;
$headings-font-weight: $font-weight-medium !default;

/*******************
Other customizations
*****************************/
.td-box--3 {
	code {color:#999; background:rgba(255,255,255,0.5); padding:3px 5px;}
}

.navbar-white.td-navbar {
	background:#fff;
	.navbar-nav .nav-link {
		color:rgba(0,0,0,.54); transition:box-shadow 0.2s ease-out;
	}
	.navbar-nav .nav-link.active {
		color:rgba(0, 0, 0, 0.9); transition:box-shadow 0.2s ease-out;
	}
	.navbar-brand {color:rgba(0,0,0,.54); transition:box-shadow 0.2s ease-out;}
	.navbar-brand:hover {color:rgba(0, 0, 0, 0.9);}
} 
footer.bg-white {
	.row {padding:20px 0 10px;}
	h3 {font-size: 1.125rem; color:$gray-600; text-transform:uppercase;}
	.footer-li {list-style:none;}
	.bottom {
		font-size:.8125rem;
		.logo {height:auto; width:120px;}
	}
}

.installcode {
	margin-bottom:2em;
	code {
    color: #fff;
    background: #c2c2c2;
    padding: 10px 12px;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
}
}

@media (min-width: 768px) {
	.td-sidebar-nav__section > ul {padding-left:0.85rem;}
}