+++
title = "Perspective Comment Analyzer API"
linkTitle = "Perspective API"
+++

{{< blocks/cover title="Perspective Comment Analyzer API" image_anchor="top" height="full" color="orange" >}}
<div class="installcode" style="text-align:center;padding:0 0 20px 0;">
	<code>gcloud services enable commentanalyzer.googleapis.com</code>
</div>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/conversationai/perspectiveapi">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<p>The Perspective API is part of the <a href="https://conversationai.github.io">Conversation AI</a> research effort that
aims to help increase empathy, participation, and quality in online conversation at scale.</p>

<p>This website repository contains a quickstart guide and the API reference documentation for the Perspective Comment Analyzer API.</p>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Project vision" url="https://jigsaw.google.com/vision/" %}}
Read about the vision that inspired Jigsaw.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/conversationai/perspectiveapi" %}}
We do a [Pull Request](https://github.com/conversationai/perspectiveapi/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/jigsaw" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}
